#container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    background-color: gray;
}

#root {
    min-width: 450px;
    min-height: 100vh;
    margin: auto;
    padding: .5rem;
    background-color: white;

}

#navbar ul {
    display: flex;
    position: relative;

}

#navbar ul li {
    margin: .2rem;
    padding: 0 .2rem;
}